<div class="container">
    <!-- <ul class="nav nav-pills" id="myTab" role="tablist"> -->
      <ul class="nav nav-pills">
      <li class="nav-item">
      <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
        
        <li class="nav-item">
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"routerLink="/scorecard" routerLinkActive="active" >Scorecard</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" routerLink="/commentry" routerLinkActive="active">Commentry</a>
     </li>
     <li class="nav-item">
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"routerLink="/summary" routerLinkActive="active" >Summary</a>
     </li>
     <li class="nav-item">
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" routerLink="/admin" routerLinkActive="active">Admin/Commentator</a>
    </li>
      </ul>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Welcome to scorecard</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Welcome to scorecard</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Welcome to commentry </div>
  </div>
</div>